<% if customer_signed_in? %>
    <h1>I'm a Customer</h1>
    
<% end %>

<% if employee_signed_in? %>
  <h1>I'm an Employee</h1>
<% end %>

<% if manager_signed_in? %>
<h1>I'm a Manager</h1>
<% end %>